<!-- DRIVER MODAL -->
<div class="modal fade" [class.show]="show" [style.display]="show ? 'block' : 'none'" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ editMode ? 'Edit' : 'Add' }} Driver</h5>
        <button type="button" class="btn-close" (click)="close()" aria-label="Close"></button>
      </div>
      <form [formGroup]="driverForm" (ngSubmit)="saveDriver()">
        <div class="modal-body">
          <div class="row g-3">
            <div class="col-md-4">
              <label for="serialNumber">Sl. No</label>
              <input type="text" id="serialNumber" formControlName="serialNumber" class="form-control" placeholder="Enter Sl. No" />
            </div>

            <div class="col-md-4">
              <label for="date">Date</label>
              <input type="date" id="date" formControlName="date" class="form-control" />
            </div>

            <div class="col-md-4">
              <label for="vehicleNumber">Vehicle No</label>
              <input type="text" id="vehicleNumber" formControlName="vehicleNumber" class="form-control" placeholder="Enter Vehicle No" />
            </div>

            <div class="col-md-4">
              <label for="driverName">Driver Name</label>
              <input type="text" id="driverName" formControlName="driverName" class="form-control" placeholder="Driver Name" />
            </div>

            <div class="col-md-4">
              <label for="startedFrom">Started From</label>
              <input type="text" id="startedFrom" formControlName="startedFrom" class="form-control" placeholder="Started From" />
            </div>

            <div class="col-md-4">
              <label for="destination">To</label>
              <input type="text" id="destination" formControlName="destination" class="form-control" placeholder="Destination" />
            </div>

            <div class="col-md-4">
              <label for="carryMaterialType">Type of Material</label>
              <input type="text" id="carryMaterialType" formControlName="carryMaterialType" class="form-control" placeholder="Type of Material" />
            </div>

            <div class="col-md-4">
              <label for="contactNumber">Contact No</label>
              <input type="tel" id="contactNumber" formControlName="contactNumber" class="form-control" placeholder="Contact No" />
            </div>

            <div class="col-md-4">
              <label for="address">Address</label>
              <textarea id="address" formControlName="address" class="form-control" placeholder="Enter Address" rows="2"></textarea>
            </div>

            <div class="col-md-4">
              <label for="document">Upload Document</label>
              <input type="file" id="document" class="form-control" (change)="onFileChange($event)" accept=".pdf,.jpg,.png,.doc,.docx" />
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="close()">Cancel</button>
          <button type="submit" class="btn btn-primary" [disabled]="driverForm.invalid">{{ editMode ? 'Update' : 'Save' }} Driver</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div *ngIf="show" class="modal-backdrop fade show"></div>
